<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='content.css')}}">
    <title>DSA</title>
</head>
<body>
<section>
    <h1>Discrete Mathematics and Graph Theory</h1>
    <h1>Previous year questions</h1>
    <embed src="{{ url_for('static', filename='files/DSA/DSA Winter 2023.pdf') }}" type="application/pdf" width="50%" height="400px" />
    <a href="{{ url_for('static', filename='files/DSA/DSA Winter 2023.pdf') }}" download>Download PDF</a>
    <embed src="{{ url_for('static', filename='files/DSA/DSA Winter Vacation 2023.pdf') }}" type="application/pdf" width="50%" height="400px" />
    <a href="{{ url_for('static', filename='files/DSA/DSA Winter Vacation 2023.pdf') }}" download>Download PDF</a>
</section>

<section>
    <h1>Notes</h1>
    <embed src="{{ url_for('static', filename='files/DSA/UNIT 1.1 DSA.pdf') }}" type="application/pdf" width="50%" height="400px" />
    <a href="{{ url_for('static', filename='files/DSA/UNIT 1.1 DSA.pdf') }}" download>Download PDF</a>
    <embed src="{{ url_for('static', filename='files/DSA/UNIT 1.2 DSA.pdf') }}" type="application/pdf" width="50%" height="400px" />
    <a href="{{ url_for('static', filename='files/DSA/UNIT 1.2 DSA.pdf') }}" download>Download PDF</a>
    <embed src="{{ url_for('static', filename='files/DSA/UNIT 2 DSA.pdf') }}" type="application/pdf" width="50%" height="400px" />
    <a href="{{ url_for('static', filename='files/DSA/UNIT 2 DSA.pdf') }}" download>Download PDF</a>
    <embed src="{{ url_for('static', filename='files/DSA/unit 3 DSA.pdf') }}" type="application/pdf" width="50%" height="400px" />
    <a href="{{ url_for('static', filename='files/DSA/unit 3 DSA.pdf') }}" download>Download PDF</a>
    <embed src="{{ url_for('static', filename='files/DSA/unit 4 DSA.pdf') }}" type="application/pdf" width="50%" height="400px" />
    <a href="{{ url_for('static', filename='files/DSA/unit 4 DSA.pdf') }}" download>Download PDF</a>
    <embed src="{{ url_for('static', filename='files/DSA/unit 5 DSA.pdf') }}" type="application/pdf" width="50%" height="400px" />
    <a href="{{ url_for('static', filename='files/DSA/unit 5 DSA.pdf') }}" download>Download PDF</a>
</section>

<section>
    <h1>E-Books</h1>
    <embed src="{{ url_for('static', filename='files/DSA/Dsa ebook.pdf') }}" type="application/pdf" width="50%" height="400px" />
    <a href="{{ url_for('static', filename='files/DSA/Dsa ebook.pdf') }}" download>Download PDF</a>
</section>
</body>
</html>

