<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Sign Up form</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {{ category }}">
        {{ message }}
        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
  <form method="POST"action="{{ url_for('auth.login') }}">
  <div class="wrapper">
    <h1>Login</h1>
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
    <div class="member">
      Not a member? <a href="{{ url_for('auth.signup') }}">Register Now
        </a>
    </div>
  </div> 
  </form>
</body>
</html>